
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
    
    <header class="test" >
        <h1>Welcome to my poll!</h1>
        <p class="test">Please select a question below to vote.</p>
    </header>

    <body>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">Question {{question.pk }}:
                     {{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %} 
    </body>



</html>